<ul>
<li><strong>core</strong> - implementations of decoupled interfaces and token channels for host, as well as the vanilla surrounding it (endpoints, FPGA wrappers, sim wrappers)
<ul>
<li><em>Channel.scala</em> - declarations for token channels and their IO</li>
<li><em>Endpoints.scala</em> - declarations for host sim endpoints, such as memory</li>
<li><em>FPGATop.scala</em> - (verbatim) Platform agnostic wrapper of the simulation models for FPGA</li>
<li><em>Interfaces.scala</em> - declarations for IO interfacing ports on hist design</li>
<li><em>SimWrapper.scala</em> - (maybe?) full wrapper that takes target module to decoupled host module</li>
</ul></li>
<li><strong>passes</strong> -
<ul>
<li><em>Fame1Transform.scala</em> - creates targetFire and daisyReset ports, collects all enable ports, connects everything appropriately and runs the whole sequence mentioned above</li>
<li><em>MidasTransforms.scala</em> - runs FAME1 transform in tandem with many other transforms, including platform and simulation mapping</li>
<li><em>PlatformMapping.scala</em> - C header file generator for FPGA-platform-specific things</li>
<li><em>SimulationMapping.scala</em> - creates the circuit for the given simulation wrapper</li>
<li><em>Utils.scala</em> - general utils</li>
</ul></li>
<li><strong>platform</strong> - specific to testing platform
<ul>
<li><em>ZynqShim.scala</em> - platform library for Zynq FPGAs</li>
</ul></li>
<li><strong>widgets</strong> - some specific IPs used in the transform</li>
<li><em>Compiler.scala</em> - incorporates everything else (by using MidasTransforms) and emits FIRRTL/Verilog</li>
<li><em>Config.scala</em> - all the options ised in the above files (ChannelLin, Ctrl/MemNastiKey, EnableSnapshot,...)</li>
</ul>
